<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992459273999-qll7u656qfprd20ln7p20ap1acch9ffn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992459273999-qll7u656qfprd20ln7p20ap1acch9ffn</string>
	<key>API_KEY</key>
	<string>AIzaSyDyl6ipOdOqf-lYjgXMAWWTkMGdggniAvY</string>
	<key>GCM_SENDER_ID</key>
	<string>992459273999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ncaisbf.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ncaiservice-2</string>
	<key>STORAGE_BUCKET</key>
	<string>ncaiservice-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992459273999:ios:944271afa49a82295f707a</string>
</dict>
</plist>